/* FEUILLE DE STYLES POUR TOUS LES STYLES DE L'APPLICATION SAUF LES MENUS */

/* Style de base pour la page (couleur fond : vert pâle, couleur texte : noir) */
.basePage 
{
   background-image: url(../images/background.jpg);
   background-size: 100%;
   background-position: 100%;
   color:black;
   font:11px Arial, Helvetica, sans-serif;
}

/* Style pour le titre (couleur du texte : rouge) */
.titre 
{
   background-color:#ccf2ff;
   color:#000000;
   font:30px Arial, Helvetica, sans-serif;
   text-align:center;
}

/* Style pour le texte de 2ème niveau du titre */
.texteNiveau2
{
   font:20px Arial, Helvetica, sans-serif;
}

/* Style pour le texte associé à l'onglet Accueil (couleur : bleu foncé avec 
mise en gras et en italique) */
.texteAccueil
{
   background-color:#ccf2ff;
   color:#000000;   
   font:14px Georgia, "Times New Roman", Times, serif;
   font-weight:bold;
   font-style:italic;
   text-align:left;
}

/* Style pour le texte dans les différentes balises citées */
td,tr,div,p 
{
   font:11px Arial, Helvetica, sans-serif;
}

/* STYLES POUR LES TABLEAUX QUADRILLÉS */

/* Style des tableaux avec quadrillage : gris foncé épaisseur 1px, espacement de 
3px entre la bordure gauche de chaque cellule et le texte */
table.tabQuadrille td
{
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
   padding-left:3px;
} 

/* Style pour les lignes d'en-tête des tableaux quadrillés : fond avec nuances 
de jaune */
tr.enTeteTabQuad 
{
   background-image:url('../images/xpBarre.jpg');
   background-color:#FFFFC0;
   color:black;
   height:21px;
   text-align:center;
} 

/* 2ème style pour les en-têtes des tableaux quadrillés : fond jaune */
tr.enTete2TabQuad 
{
   background-color:#FFFFC0;
   color:black;
   text-align:left;
} 

/* Style pour les lignes (autres que les en-têtes) des tableaux quadrillés : 
fond écru */
tr.ligneTabQuad 
{
   background-color:#FFFFE0;
   color:black;
   text-align:left;
}

/* STYLES POUR LES TABLEAUX NON QUADRILLÉS */

/* Style des tableaux sans quadrillage : gris foncé épaisseur 1px, fond écru */
table.tabNonQuadrille 
{
   background-color:#FFFFC0;
   color:black;
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
}

table.tabQuadrille 
{
   background-color:#FFFFC0;
   color:black;
   border-bottom:1px solid #777777;
   border-right:1px solid #777777;
   border-left:1px solid #777777;
   border-top:1px #777777;
}
 
/* Style pour les lignes d'en-tête des tableaux non quadrillés : fond avec 
nuances de jaune et trait bas pour séparer l'en-tête du corps du tableau */
tr.enTeteTabNonQuad td
{
   background-image:url('../images/xpBarre.jpg');
   background-color:#FFFFC0;
   color:black;
   height:21px;
   text-align:center;
   border-bottom:1px solid #777777;
} 

/* Style pour les lignes (autres que les en-têtes) des tableaux non quadrillés : 
fond écru, hauteur plus importante et espacement de 3px entre la bordure gauche 
de chaque cellule et le texte */
tr.ligneTabNonQuad td
{
   background-color:#FFFFE0;
   color:black;
   text-align:left;
   height:28px;
   padding-left:3px;
} 

/* STYLES POUR LES ERREURS */

/* Style pour les messages d'erreur affichés en bas de page (couleur : bleu) */
.msgErreur
{
   background-color:#DDFF88;
   color:#3366CC;
   font-size:14px;
}

/* Style pour les erreurs de saisie dans les tableaux d'offres d'hébergement 
(couleur : rouge de base) */
.erreur
{
   background-color:white;
   color:#FF0000;
}

/* STYLES POUR LES ATTRIBUTIONS */

/* Fond gris */
td.absenceOffre
{
   background-color:#EEEEEE;
   color:black;
   width:30px;
   text-align:center;
}

/* Fond blanc */
td.reserveSiLien
{
   background-color:#FFFFFF;
   color:black;
   width:30px;
   text-align:center;
}

/* Fond jaune */
td.reserve
{
   background-color:#FFFF80;
   color:black;
   width:30px;
   text-align:center;
}

/* Fond vert */
td.libre
{
   background-color:#99FFCC;
   color:black;
   width:30px;
   text-align:center;
}
